body {
  font-family: 'Noto Sans TC', sans-serif;
  color: #464b4f;
  background: #e8ebed;
  margin: auto;
}

.container {
  margin: center;
  position: relative;
  width: 1080px;
  margin: 0 auto;
}

.switchContainer {
  text-align: center;
  item-align: center;
}

.container h1 {
  text-align: center;
  margin: 20px;
  font-weight: bold;
  letter-spacing: 5px;
}

h4 {
  text-align: center;
  margin: 10px;
  letter-spacing: 2px;
}

.lightModeSwitch {
  display: none;
}

ul {
  list-style: none;
}

ul input {
  background-color: #d1d9e0;
}

li {
  margin: auto;
}

.search {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.search p {
  font-size: 1.2rem;
  padding: 0;
  margin-right: 20px;
  font-weight: bold;
}

.search input {
  padding: 5px;
  width: 300px;
  font-size: 1.2rem;
  display: block;
  margin: 15px
}

button {
  font-weight: bold;
  background: #464b4f;
  color: white;
  border-radius: 4px;
  border: #464b4f;
  font-size: 1rem;
  padding: 12px;
  display: block;
  margin: 0 auto 10px;
}

.reset {
  margin: 0 auto 40px;
}

.speech-bubble {
	position: relative;
	background: #464b4f;
	border-radius: .4em;
  margin: 0 auto 30px;
  max-width: 275px;
  padding: .1em;
  color: white;
}

.speech-bubble p {
  margin: 20px;
}

.speech-bubble:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 20%;
	width: 0;
	height: 0;
	border: 14px solid transparent;
	border-top-color: #464b4f;
	border-bottom: 0;
	border-right: 0;
	margin-left: -7px;
	margin-bottom: -14px;
}

.speech-bubble-dark p {
  display: none;
  margin: 20px;
}


#beforeClick {
  display:
}

#afterClick {
  display: none
}

#afterClicks {
  display: none
}


#showBox {
  margin: auto;
  position: relative;
  max-width: 275px;
  color: #464b4f;
  margin: 0 auto 30px;
  border: 2px solid #d1d9e0;
  background-color: #d1d9e0;
}

#showDefinition {
  margin: auto;
  position: relative;
  max-width: 275px;
  color: #464b4f;
  margin: 0 auto 40px;
  border: 2px solid #d1d9e0;
  background-color: #d1d9e0;
}

.onReset {
  display: none
}

.darkMode {
  color: #e8ebed;
  background: #000;
}

.lightMode {
  color: #464b4f;
  background: #e8ebed;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  border: #464b4f;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
  border: #464b4f;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #464b4f;
  -webkit-transition: .4s;
  transition: .4s;
  border: #464b4f;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border: #464b4f;
}

input:checked + .slider {
  background-color: #464b4f;
  border: #464b4f;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
  border: #464b4f;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
  border: #464b4f;
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
  border: #464b4f;
}

.slider.round:before {
  border-radius: 50%;
  border: #464b4f;
}
